body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    color: #2C3E50;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 10px 0;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

#calendar {
    max-width: 1200px; /* カレンダーの最大幅を広げる */
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.fc-toolbar-title {
    font-size: 1.5em;
    font-weight: bold;
}

.fc-daygrid-day-number {
    font-size: 1.2em;
}

.fc-toolbar {
    margin-bottom: 20px;
}

.fc-day-sat .fc-daygrid-day-number,
.fc-col-header-cell-sat {
    color: blue;
}

.fc-day-sun .fc-daygrid-day-number,
.fc-col-header-cell-sun,
.holiday .fc-daygrid-day-number {
    color: red;
}

.fc-event {
    cursor: pointer;
}

.fc-popover {
    z-index: 10000;
}

/* ポップアップのスタイルを追加 */
.popup {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 10001;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content p {
    margin: 5px 0;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2C3E50;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.back-button:hover {
    background-color: #1A252F;
    color: #FFFFFF;
}



