body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    color: #2C3E50;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.button {
    background-color: #3498DB;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980B9;
}

main {
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .button {
        width: 100%;
        box-sizing: border-box;
    }
}

.fc-day-sat .fc-daygrid-day-number,
.fc-col-header-cell-sat {
    color: blue;
}

.fc-day-sun .fc-daygrid-day-number,
.fc-col-header-cell-sun,
.holiday .fc-daygrid-day-number {
    color: red;
}

footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .button {
        width: 100%;
        box-sizing: border-box;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
        flex: none;
    }
}

